.add-to-cart img,.logo{
    position: relative;
    width:60px;
    height:60px;
    top:0px;
}
img{
    position: relative;
    width:100%;
    height: 100%;
}
.cart-img{
    background-color: #0faade;
    box-shadow: 2px 2px 2px;
}
.form-control{
    box-shadow: 2px 2px 2px; 
}
.add-to-cart{
    display: flex;
    flex-direction: row;
    color:black;
    gap: 5px;
}
.number{
    float: center;
    align-self: center;
}